{% extends "layout.html" %}
{% block content %}
    <title>Flask-Chat</title>
    <h3>Chat</h3>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <div class="message-holder"></div>


    </div>

    <form action="" method="POST">
      <input type="text" class="message" placeholder="Message"/>
      <input type="submit"/>
    </form>
    <div class="content-section">
    {% for user in userlist %}
        {% if user!=current_user %}
            <p class="content-section" >{{ user.username }} </p>
        {% endif %}
    {% endfor %}
    </div>

{% endblock %}
